import io
import matplotlib.pyplot as plt
import numpy as np
import requests
import streamlit as st
from PIL import Image
from tensorflow import keras
from tensorflow.keras.applications.inception_resnet_v2 import (
    preprocess_input as inception_preprocess,
)
from tensorflow.keras.applications.nasnet import decode_predictions
from tensorflow.keras.applications.nasnet import preprocess_input as nasnet_preprocess
from tensorflow.keras.applications.resnet50 import preprocess_input as resnet_preprocess
from tensorflow.keras.applications.xception import (
    preprocess_input as xception_preprocess,
)